<!DOCTYPE html>
<html>
<body>
<div class = "box">
			<h1>Ahmed Ahmed</h1>

			<p>
				<i>Web Developer</i>
			</p>

			<p>
				Ruby on Rails Web Developer, Programming Teacher.
				Loves to watch futuristic and Sci-fi movies!
			</p>

	

		</div>
</body>
</html>